<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Comment</title>
  </head>
  <body>
    <h3>Comment Id : <%= comment.id %></h3>
    <h4>Username : <%= comment.username %></h4>
    <p>Text : <%= comment.text %></p>
  </body>
</html>
